.edit{
width: 80% !important;
margin: 60px auto !important;
display: flex;
cursor: pointer;
}

.left{
width: 200px !important;
display: flex !important;
flex-direction: column !important;
border: 1px solid lightgray !important;
align-items: center !important;
padding: 20px 0px !important;
}

.pimg{
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
}

.left>h4{
    color: #1b1b1b;
}

.menuoption{
    display: block !important;
    text-align: left !important;
    width: 94% !important;
    margin: 0px auto !important;
    padding: 10px 3% !important;
}

.menuoption:hover{
    background-color: #6a6f73;
    color: white !important;
}

.right{
    width: calc(100% - 200px) !important;
    display: flex !important;
flex-direction: column !important;
border: 1px solid lightgray !important;
align-items: center !important;
padding: 10px 0px !important;
}

.pp{
    text-align: center !important;
    margin: 5px 0px !important;
    color: #1b1b1b !important;
}

.pppara{
    text-align: center !important;
    margin: 5px 0px !important;
    width: 100% !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid lightgray !important;
}

.inputbox{
    width: 60% !important;
}

.heading{
    color: #1b1b1b;
}

.input{
    color:#1b1b1b;
    padding: 12px 5px;
    width: 100% !important;
    border: 1px solid #1b1b1b;
    margin: 10px 0px !important;
    outline: none !important;
}

.label{
    color: #1b1b1b;
    font-size: 10px !important;
}

.textarea{
    color:#1b1b1b;
    padding: 12px 5px;
    width: 100% !important;
    height: 100px !important;
    border: 1px solid #1b1b1b;
    outline: none !important;
}

.option{
    display: flex !important;
    align-items: center !important;
    border: 1px solid #1b1b1b !important;
    border-bottom: none !important;
    margin-top: 20px !important;
}

.flexparabold{
    width: 50px !important;
    text-align: center !important;
    color: #1b1b1b;
    font-weight: bold !important;
}

.flexparaitalic{
    width: 50px !important;
    text-align: center !important;
    color: #1b1b1b;
    font-weight: bold !important;
    font-style: italic;
}

.select{
    width: 100% !important;
    padding: 10px 5px !important;
    outline: none !important;
    border: 1px solid #1b1b1b !important;
    margin: 20px 0px !important;
}

.inputnewmain{
    color:#1b1b1b;
    padding: 12px 5px;
    width: 70% !important;
    border: 1px solid #1b1b1b;
    margin: 10px 0px !important;
    outline: none !important;
    border-left: none !important;
}

.inputnew{
    color:#1b1b1b;
    padding: 12px 5px;
    width: 30% !important;
    border: 1px solid #1b1b1b;
    margin: 10px 0px !important;
    background-color: #f7f9fa !important;
    outline: none !important;
}

.buttonsection{
    border-top: 1px solid lightgray !important;
    width: 100% !important;
    padding: 10px 0px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.button{
    background-color: #a435f0 !important;
    color: white !important;
}

.photo{
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    margin: 0px auto !important;
}

.photo > .pp{
    text-align: left !important;
}

.photo > .para{
    font-size: 12px;
}

.imagesection{
    width: 600px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: 1px solid #1b1b1b !important;
    height: 300px !important;

}

.Avatar{
    width: 200px !important;
    height: 200px !important;
    color: white !important;
    background-color: #1b1b1b !important;
}

.imagename{
    width: 600px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    border: 1px solid #1b1b1b !important;
    margin: 20px 0px !important;
    padding: 0px !important;
}

.imagename > .para{
    margin: 0px 10px !important;
    color: grey !important;
}

.imagename > Button{
    border-left: 1px solid #1b1b1b !important;
    margin: 0px !important;
    border-radius: 0px !important;
}

.photo > .button{
    width: fit-content !important;
    padding: 10px 20px !important;
    background-color: #1b1b1b !important;
}

.imgupload{
    opacity: 0 !important;
}

.hr{
    width: 100% !important;
    color: lightgray !important;
 margin: 20px 0px !important;

}

.ppleft{
    text-align: left !important;
    width: 600px !important;
}

.inputboxs{
    width: 60% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: 1px solid #1b1b1b !important;
    padding: 0px !important;
}

.inputboxs > .input{
    border: none !important;
    margin: 0px !important;
}

.editicon{
    background-color: #f7f9fa !important;
    width: 40px !important;
    height: auto !important;
}

.ppl{
    width: 60% !important;
    text-align: left !important;
}

@media(max-width: 1330px){
    .edit{
        width: 99% !important;
    }
}


@media(max-width: 900px){
    .edit{
        flex-direction: column !important;
    }

    .left{
        width: 99% !important;
    }

    .right{
        width: 99% !important;
    }

    .inputbox{
        width: 99% !important;
    }

    .ppl{
        width: 99% !important;
    }

    .inputboxs{
        width: 99% !important;
    }
}

@media(max-width: 620px){
    .ppleft, .imagesection , .imagename, .hr{
        width: 98% !important;
    }
}